Library/
Logs/
Temp/
UserSettings/
*.sln
*.vsconfig
.vs/TopDown3DFull/FileContentIndex/5d4258fc-864f-41a8-a8a0-6c3f6455913a.vsidx
.vs/TopDown3DFull/FileContentIndex/df1c10ca-8271-4f5a-b9dc-35ba71806288.vsidx
.vs/TopDown3DFull/FileContentIndex/8768d4bf-c729-4705-aa66-ea63dee99dd3.vsidx
.vs/TopDown3DFull/FileContentIndex/4cafcb73-7e8f-4d3b-a8a3-f5d15d46da5f.vsidx
.vs/TopDown3DFull/FileContentIndex/bda23b3b-e5f5-4f17-9e26-48b4f0d07e00.vsidx
